<!DOCTYPE html>
<html>
<head>
    <title>Šventės Valdymas</title>
</head>
<body>
    <header>
        <h1>Šventės Valdymas</h1>
        <nav>
            <ul>
                <li><a href="{% url 'event_list' %}">Šventės sąrašas</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Atsijungti</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Prisijungti</a></li>
                <li><a href="{% url 'register' %}">Registruotis</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
