<!DOCTYPE html>
<html>
<head>
    <title>Renginiai</title>
</head>
<body>
    <header>
        <h1>Renginių valdymas</h1>
        <nav>
            <ul>
                <li><a href="{% url 'event_list' %}">Renginių sąrašas</a></li>
                {% if user.is_authenticated %}
                <li><a href="">Atsijungti</a></li>
                {% else %}
                <li><a href="">Prisijungti</a></li>
                <li><a href="">Registruotis</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
