{% extends "event_detail.html" %}

{% block rating %}
<body class="bBox">
    <h3 style="font-size:30px; color:#b9d746;">Add participant to event:</h3>
    <form method="post" action="{% url 'create_participant' event.id %}">
        {% csrf_token %}
        <label style=""for="user">Choose participant:</label>
        <select id="user" name="user" style="margin-bottom:15px; width:130px; height:40px">
            <option value="" disabled selected>press here</option>
            {% for user in user%}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Add</button>
    </form>
    <a href="{% url 'event_detail' event.id %}"><button type="button">Back</button></a>
</body>
{% endblock %}
