{% extends "base.html" %}

{% block content %}
    <h2>Create new event</h2>
    <form method="post" action="{% url 'create_event' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="date_and_time">Date and time:</label>
        <input type="datetime-local" id="date_and_time" name="date_and_time" required><br>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br>

        <label for="is_public">Public:</label>
        <input type="checkbox" id="is_public" name="is_public" checked><br>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image"><br>
        
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'event_list' %}">Back to menu</a>
{% endblock %}
