{% extends "base.html" %}
{% block content %}
    <h2>{{ event.name }}</h2>
    {% if event.image %}
    <img  src="{{ event.image.url }}" alt="{{ event.name }}" style="max-width: 250px; max-height: 250px;">
        {% endif %}
    <p>Date and time: {{ event.date_and_time }}</p>
    <p>Location: {{ event.location }}</p>
    <p>Creator: {{ event.creator }}</p>
    <p>Description: {{ event.description }}</p>
        {% if event.is_public %}
    <p>This event is open to the public.</p>
        {% else %}
    <p>This event is private.</p>
    {% endif %}
    <h3></h3>
    <ul>
        {% for event in events %}
        <li>{{ event.name }}</li>
        {% endfor %}
    </ul>
    <h3>Ratings:</h3>
    <ul>
        {% for rating in ratings %}
        <li>{{ rating.rating }}/10 - {{ rating.comment }} by {{ rating.author }}</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'event_detail' event.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="rating">Submit</button>
    </form>
    {% endif %}
{% endblock %}