{% extends "home.html" %}
{% block content %}
<body class = "bBox2">
    <h1 style = "text-align:center;">Planned events</h1>
    <ul>
        {% if events %}
        {% for event in events %}
        <a href="{% url 'event_detail' event.id %}" style="text-decoration:none">
        <table>
            <tr>
              <th class="tb1"><img src="{{event.image.url}}" style="block-size:80px"></th>
              <th class="tb2">{{ event.name }}</th>
              <th class="tb3">{{ event.date_and_time }}</th>
            </tr>
        </table>
        </a>
        {% endfor %}
        {% endif %}
    </ul>
    <div style = "text-align:center;">
    <a href="{% url 'home'%}" ><button type="button">Home</button></a>
    </div>
</body>
{% endblock %}