{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pradinis puslapis</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
{% block content %}
<body class="bBox">
    <h1>Sveiki atvykę į mūsų svetainę!</h1>
    
    <p>Naršykite mūsų svetainėje ir atraskite daug įdomių dalykų!</p>

    <a href="{% url 'event_list' %}"><button>Šventės sąrašas</button></a>
    
    {% if user.is_authenticated %}
    <p>Sveiki, {{ user.username }}!</p>
    <a href="{% url 'create_event' %}"><button>Sukurti naują šventę</button></a>
    <a href="{% url 'logout' %}"><button>Atsijungti</button></a>
    {% else %}
        <a href="{% url 'login' %}"><button>Prisijungti</button></a>
        <a href="{% url 'register' %}"><button>Registruotis</button></a>
    {% endif %}

</body>
{% endblock %}
</html>