{% extends "event_detail.html" %}

{% block rating %}
<style>
    ul {
        -webkit-columns: 4;
        align-self:center;
      }
</style>
<body class="bBox">
    <h1>Participant list:</h1>
    <ul>
        {% for participant in event.eventparticipant_set.all %}
            <li style="color:white; font-size:20px; margin-right:50px;">{{ participant.user.username }}</li>
        {% endfor %}
    </ul>
    {%if not event.eventparticipant_set.all%}
    <p>No participants added.</p>
    {%endif%}
<div>
    {%if event.creator == user%}
    <a href="{% url 'create_participant' event.id %}"><button type="button">Add</button></a>
    {%endif%}
    <a href="{% url 'event_detail' event.id %}"><button type="button">Back</button></a>
</div>
</body>
{% endblock %}